<spinner></spinner>
<div class="container">
  <md-tab-group>
    <md-tab *ngFor="let item of sections" label="{{item.sectionName}}">
      <div class="setting-sec">
        <div class="setting-item" (click)="openDialog(item, 'update')">
          <md-icon>update</md-icon>
        </div>
        <div class="setting-item" (click)="openDialog(item, 'delete')">
          <md-icon>delete</md-icon>
        </div>
      </div>
      <div class="body-content">
        <categoryGroup-list [sectionId]="item.id"></categoryGroup-list>
      </div>
    </md-tab>
  </md-tab-group>
</div>
