div.container {
  margin: 10px;
  border: 2px solid #EEEEEE;
  border-radius: 0 0 10px 10px;
  background-color: #FAFAFA;
}

div.body-content {
  margin: 0;
  display: flex;
}

.setting-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #EEEEEE;
}
.setting-sec-button{
  margin: 5px;
}
.button-control{
  background-color: cornflowerblue;
}

.pag {
  flex-direction: row;
  text-align: center;
  border-top: 2px solid #EEEEEE;
}




