:host {
  display: flex;
  border-bottom: 1px solid gainsboro;
}

div.category-group-list {
  display: flex;
  width: 20%;
  border-right: 1px solid lightgrey;
  flex-direction: column;
}

div.category-group-item {
  display: inline-flex;
  justify-content: space-between;
  color: #9E9E9E;
  cursor: pointer;
  padding: 5px;
}

div.active {
  color: black;
  background-color: rgba(51,51,51,.05);
  cursor: pointer;
}

div span.item-name {
  width: 90%;
  padding: 1px;
  font-size: 18px;
}

div.add-item {
  text-align: center;
}

div.add-item:hover {
  background-color: #EEEEEE;
}

div.category-list {
  width: 80%;
}
