<div class="container">
  <div class="category-item" *ngFor="let item of categoryes">
    <div class="category-img">
      <img
        src="https://image.flaticon.com/icons/svg/401/401160.svg"
        width="40px" height="40px">
    </div>
    <div class="category-name">
      {{item.categoryName}}
    </div>
    <div class="category-setting">
      <md-icon [mdMenuTriggerFor]="menu">settings_applications</md-icon>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="openDialog(item,'update')">
          <md-icon>edit</md-icon>
          <span>Edit</span>
        </button>
        <button md-menu-item (click)="openDialog(item,'delete')">
          <md-icon>delete</md-icon>
          <span>Delete</span>
        </button>
      </md-menu>
    </div>
  </div>
  <div class="category-add" (click)="openDialog({'categoryGroupId':categoryGroupId} ,'create')" *ngIf="categoryes">
    <div class="category-add-icon">
      <md-icon>add</md-icon>
    </div>
  </div>
</div>

