<md-toolbar color="primary">
  <span (click)="goTo()">Some Store</span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>menu</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="openDialog({},'create')">
      <md-icon>add</md-icon>
      <span>Create new section</span>
    </button>
  </md-menu>
  <span class="spacer"></span>
  <md-input-container>
    <input mdInput placeholder="Search" [(ngModel)]="searchCategory">
  </md-input-container >
  <button md-mini-fab class="search" (click)="search(searchCategory)" [disabled]="!searchCategory">
    <md-icon class="example-icon">search</md-icon>
  </button>
</md-toolbar>







