div.container {
  display: flex;
}

div.category-group-list {
  width: 20%;
  border-right: 1px solid lightgrey;
}

div.category-group-item {
  color: #757575;
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

div.category-group-item:hover {
  background-color: #EEEEEE;
  color: black;
}

div.category-group-name {
  width: 85%;
}

div.category-group-setting {
}

div.add-item {
  text-align: center;
  border-bottom: 1px solid #EEEEEE;
  border-radius: 5px;
}

div.add-item:hover {
  background-color: lightgrey;
}

md-icon {
  cursor: pointer;
}

div.category-list {
  width: 80%;
}
