:host{
  display: flex;
  height: 50px;
  margin: 5px;
  border-radius: 50px;
  background-color: #FFF176;
}

.fast-search__input {
  margin: 5px 5px 5px 400px;
  background-size: 18px 18px;
  background: white url(https://gc.onliner.by/images/i-search.svg) no-repeat 12px 50%;
  border: solid 1px #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  outline: 0;
  padding: 0 10px 0 44px;
  width: 400px;
  height: 40px;
  font-size: 14px;
  -o-transition: border .1s linear;
  transition: border .1s linear;
  position: relative;
  z-index: 1;
}
