<div class="action-searching">
  <input class="fast-search__input" placeholder="Search...">
  <button md-raised-button >Go</button>
</div>
<div class="social">
  <div class="social-icon">
    <img src="https://image.flaticon.com/icons/svg/174/174848.svg">
  </div>
  <div class="social-icon">
    <img src="https://image.flaticon.com/icons/svg/174/174855.svg">
  </div>
  <div class="social-icon">
    <img src="https://image.flaticon.com/icons/svg/145/145812.svg">
  </div>
  <div class="social-icon">
    <img src="https://image.flaticon.com/icons/svg/145/145807.svg">
  </div>
  <div class="social-icon">
    <img src="https://image.flaticon.com/icons/svg/145/145813.svg">
  </div>
</div>
