<div class="nav">
  <md-tab-group>
    <md-tab *ngFor="let item of sections" label="{{item.sectionName}}">
      <div class="setting-sec">
        <md-icon>delete</md-icon>
        <md-icon>update</md-icon>
      </div>
      <div class="container">
        <div class="category-list">
          <div class="categoty-item" (click)="goTo()">ddddddddddasdasd</div>
          <div class="categoty-item" (click)="goTo()">asdasd</div>
          <div class="categoty-item" (click)="goTo()">asdasd</div>
          <div class="categoty-item" (click)="goTo()">asdasd</div>
          <div class="categoty-item" (click)="goTo()">asdasd</div>
        </div>
        <div class="card">
          <md-card class="example-card">
            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>Shiba Inu</md-card-title>
            </md-card-header>
            <md-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button>LIKE</button>
              <button md-button>SHARE</button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
      <div class="pag">
        Pagination
      </div>
    </md-tab>
  </md-tab-group>
</div>


