div.container {
  display: flex;
  width: 300px;
}

form,md-input-container{
  width: 100%;
}

div.input-control {
  flex-direction: column;
}

h2 {
  margin: 10px;
}

button:first-letter, h2:first-letter {
  text-transform: uppercase;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.button-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


